<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div *ngIf="(isHandset$ | async)">
      <mat-toolbar color="primary" [ngStyle]="{'background': currentRoute?.class }">
        <a routerLink="/home" class="nav-link home">
          <img [src]="logo" title="Beligh HAMDI" alt="Beligh HAMDI">
        </a>
        <span>{{ title }}</span>
      </mat-toolbar>
    </div>
    <div *ngIf="(isHandset$ | async) === false">
      <mat-toolbar color="primary" [ngStyle]="{'background': currentRoute?.class }">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">{{currentRoute?.icon}}</mat-icon>
        </button>
        <span>{{ currentRoute?.title18n | translate }}</span>
      </mat-toolbar>
      <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-nav-list>
      <a *ngFor="let item of links" mat-list-item [routerLink]="item.path" routerLinkActive="active">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        <span>{{ item?.title18n | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngStyle]="{'background': currentRoute?.class }">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home" class="nav-link home">
        <img [src]="logo" title="Beligh HAMDI" alt="Beligh HAMDI">
      </a>
      <span>{{ title }}</span>
      <span class="app-fill-remaining-space"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="menuLanguages">
          <mat-icon>translate</mat-icon>
          <span>{{ 'LAYOUT.LANGUAGES' | translate }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications</mat-icon>
          <span>{{ 'LAYOUT.ALERTS' | translate }}</span>
        </button>
      </mat-menu>

      <mat-menu #menuLanguages="matMenu">
        <button mat-menu-item (click)="translate.use('fr')" [disabled]="'fr' === translate.currentLang">
          <mat-icon svgIcon="flag-france" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <span>{{ 'LAYOUT.FRENCH' | translate }}</span>
        </button>
        <button mat-menu-item (click)="translate.use('en')" [disabled]="'en' === translate.currentLang">
          <mat-icon svgIcon="flag-united-kingdom" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
          <span>{{ 'LAYOUT.ENGLISH' | translate }}</span>
        </button>
      </mat-menu>

    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
    <main class="sidenav-content" role="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
