<app-header-view icon="info" title="About"></app-header-view>


<div class="container">

    <section class="row">
        <article class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8">

            <mat-card>
                <img mat-card-image src="assets/img/about.jpeg" alt="About us">
                <mat-card-content>
                </mat-card-content>
            </mat-card>
         
        </article>
    </section>

    <!-- <section class="row">
        <article class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Image Optimization Best Practices with Angular | ng-conf 2022</mat-card-title>
                    <mat-card-subtitle>Kara Erickson</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <youtube-player videoId="zKQRG8l1OOI" [width]="videoWidth" [height]="videoHeight"></youtube-player>  
                   
                </mat-card-content>
            </mat-card>
         
        </article>

        <article class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8">
           
            <mat-card>
                <mat-card-header>
                    <mat-card-title>How to use Jenkins Configuration as Code</mat-card-title>
                    <mat-card-subtitle>Ewelina Wilkosz</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <youtube-player videoId="QdJIv1qDYcg"  [width]="videoWidth" [height]="videoHeight"></youtube-player>
                </mat-card-content>
            </mat-card>
         
        </article>

       
    </section> -->

    

</div>


