<app-header-page title="MENU.CV"></app-header-page>

<app-under-construction>></app-under-construction>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let skill of skills">
            <mat-icon matListIcon>folder</mat-icon>
            <p matLine>{{skill}}</p>
          </mat-list-item>
        </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Experiences</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p matLine>Experience 1</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p matLine>Experience 2</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
