.app-card-image {
    max-height: 300px;
    position: relative !important;
}

.app-card-url {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-panel {
 // height: 100vh;
 // width: 100vw;
 // overflow-y: scroll;
}
