<app-header-page title="MENU.BLOG"></app-header-page>

<section class="main-panel-static">
    <div infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollContainer]="'.main-panel-static'"
         [fromRoot]="true"
         (scrolled)="onScrollStatic()">
    </div>

    <app-under-construction>></app-under-construction>


    
    <mat-card class="app-card">
      <mat-card-header>
        <mat-card-title>Épices et herbes aromatiques français/arabe</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       
        <article>
        <p><span style="color:#000000;">Bonjour bonjour, une des choses dont je raffole le plus en cuisine les épices,</span><span id="more-1868"></span></p>
        <p><span style="color:#000000;"> ma collection de petits pots en tout genres commence à s’agrandir, pour moi les épices sont la base de toute cuisine, elles vous emportent a des millions de kilomètres sans pour autant voyager, dans la cuisine saine elles aident &nbsp;énormément à varier les gouts, a évité la monotonie lors d’un rééquilibrage alimentaire.</span></p>
        <p><span style="color:#000000;">Pour plus de facilité j’ai classé les épices &amp; aromates selon l’ordre Alphabétique avec la traduction en arabe pour celles &amp; ceux comme moi qui on un peu du mal à se retrouver.&nbsp;</span></p>
        <p><span style="color:#000000;">Si j’en ai oublier ou si la traduction n’ai pas exacte vous pouvez laisser un commentaire et je réactualiserais la liste.</span></p>
        <p><!--more--></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">A</span>neth : الشبت&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">A</span>nis : النافع&nbsp;habet hlawa</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">B</span>asilic : الحبق hbaq&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">B</span>adiane&nbsp;النافع نجيمات anis étoilé&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">C</span>amomille : البابونج&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>annelle=&nbsp;القرفة&nbsp;&nbsp;Karfa&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>ardamome&nbsp;=&nbsp;حبة الهيل=قعقلة &nbsp;Qaaqulla&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>arvi : الكروية&nbsp;&nbsp;kerouiya &nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>èleri : الكرافس&nbsp;Krafs&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>iboulette : الثوم القصبي </span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>itronnelle : اللويزة الرومية </span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>lou de girofle : القرنفل&nbsp;&nbsp;kronfel</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>oriandre : القسبر&nbsp; Kosbor &nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>umin =&nbsp;الكمون = kemoun&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>urcuma = &nbsp;الكركم = kourkoum&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">C</span>urry = كاري = kari&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">E</span>stragon : نبات الطرخون&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">F</span>enouil : البسباس</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">F</span>enugrec : الحلبة</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">G</span>ingembre frais zanjabil &nbsp;زنجبيل- &nbsp;secher et moulu skinjbir سكنجبير&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">L</span>aurier =&nbsp;ورق سيدنا موسى= الرند rand&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">M</span>arjolaine&nbsp;المرددوش merdeddouche&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">M</span>enthe : النعناع na3na3&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">M</span>enthe sauvage : النعناع الفليوي = &nbsp;fliyou&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">M</span>outarde : الخرذل</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">N</span>oix de muscade =&nbsp;جوزة الطيب &nbsp;= jouz tib = el djouza</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">N</span>igelle = السانوج </span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">O</span>rigan : الزعتر za3ter&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">P</span>ersil : المعدنوس ma3adnous</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">P</span>aprika&nbsp;التحميرة &nbsp;FelFel Ahmar&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">P</span>iment de cayenne&nbsp;&nbsp;السودانية الحارة Fefla hara ou soudania</span><br>
        <span style="color:#ff99cc;">P</span><span style="color:#000000;">iment doux Fefla hamra hloua&nbsp;</span><br>
        <span style="color:#ff99cc;">P</span><span style="color:#000000;">iment fort ou piquant Fefla hamra hara&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">P</span>oivre blanc= FelFel Abyadh</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">P</span>oivre noir =&nbsp; FelFel Akhal</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">R</span>omarin : أزير او الحلحال&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">S</span>afran : الزعفران zaafran&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">S</span>auge : السالمية salmiya&nbsp;</span><br>
        <span style="color:#000000;"><span style="color:#ff99cc;">S</span>esame&nbsp;جنجلان</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">T</span>hym : الزعيترة z3itra&nbsp;</span></p>
        <p><span style="color:#000000;"><span style="color:#ff99cc;">V</span>erveine&nbsp;اللويزة&nbsp;</span></p>
        
        </article>


      </mat-card-content>
    </mat-card>



    <mat-card class="app-card" *ngFor="let post of staticPosts">
      <mat-card-header>
        <mat-card-title>{{ post.id }} - {{ post.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content [innerHTML]="post.body"></mat-card-content>
    </mat-card>

    <div class="loading">
      <ngx-loading [show]="status.isLoadingStaticPosts"></ngx-loading>
    </div>

    <mat-card class="app-card">
      <mat-card-actions>
        <button mat-raised-button (click)="onScrollStatic()" [disabled]="staticPosts.length >= maxStaticPages">
          <mat-icon aria-hidden="false" aria-label="more">loop</mat-icon>
          <span>{{ 'LOAD.MORE' | translate }}</span>
        </button>
      </mat-card-actions>
    </mat-card>
</section>

