<h2>Canada</h2>

<div class="grid">

    <section class="col-12 md:col-6 lg:col-3 xl:col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Canada</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
    
                <vjs-player-lib  [options]="options1">
                    <track kind="subtitles" src="assets/data/media/ocanada-fr.vtt" srclang="fr" label="Francais" default>
                </vjs-player-lib>    
                
            </mat-card-content>
        </mat-card>
    </section>

    <section class="col-12 md:col-6 lg:col-3 xl:col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Canada</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
    
                <vjs-player-lib  [options]="options">
                    
                </vjs-player-lib>     
                
            </mat-card-content>
        </mat-card>
    </section>

    

</div>


